.bf-table-container{
  position: relative;
  margin: 0 0 0 -10px;
  padding: 10px 0 0 10px;

  .bf-table-row-tools,
  .bf-table-column-tools{
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    background-color: #f1f5f9;
    cursor: default;
    opacity: 0;
    &:hover{
      z-index: 3;
      opacity: 1;
    }
  }

  .bf-table-row-tools{
    top: 10px;
    bottom: 0;
    left: 0;
    width: 8px;
  }

  .bf-table-column-tools{
    top: 0;
    right: 0;
    left: 10px;
    height: 8px;
    &.resizing {
      opacity: 1;
      .bf-col-tool-handler{
        background-color: #f1f5f9;
      }
      .bf-col-resizer.active{
        background-color: #07a9fe;
      }
      .bf-col-tool-left,
      .bf-col-tool-right{
        display: none;
      }
    }
  }

  .bf-col-tool-handler,
  .bf-row-tool-handler{
    position: relative;
    box-sizing: border-box;
    background-color: #f1f5f9;
    cursor: pointer;
    &:hover{
      background-color: #e1e5e9;
    }
  }

  .bf-col-tool-handler{
    float: left;
    height: 8px;
    border-left: 1px solid #e1e5e9;
    &:first-child{
      border-left: none;
      border-radius: 3px 0 0 3px;
    }
    &:last-child{
      border-radius: 0 3px 3px 0;
    }
  }

  .bf-col-resizer{
    position: absolute;
    z-index: 2;
    top: 0;
    left: -2px;
    width: 4px;
    height: 8px;
    cursor: col-resize;
    &:hover{
      background-color: #07a9fe;
    }
  }

  .bf-row-tool-handler{
    border-top: 1px solid #e1e5e9;
    &:first-child{
      border-top: none;
      border-radius: 3px 3px 0 0;
    }
    &:last-child{
      border-radius: 0 0 3px 3px;
    }
  }

  .bf-col-tool-left,
  .bf-col-tool-right{
    float: left;
    position: relative;
    width: 50%;
    height: 8px;
    &:hover{
      .bf-insert-col-before,
      .bf-insert-col-after{
        display: block;
      }
    }
  }

  .bf-row-tool-up,
  .bf-row-tool-down{
    position: relative;
    height: 50%;
    &:hover{
      .bf-insert-row-before,
      .bf-insert-row-after{
        display: block;
      }
    }
  }

  .bf-insert-col-before,
  .bf-insert-col-after,
  .bf-insert-row-before,
  .bf-insert-row-after{
    display: none;
    box-sizing: content-box;
    position: absolute;
    color: #21242a;
    &::before{
      position: absolute;
      border: 4px solid transparent;
      content: '';
    }
    &:hover{
      color: #07a9fe;
    }
    i{
      display: block;
      width: 20px;
      height: 20px;
      color: inherit;
      background-color: currentColor;
      border-radius: 3px;
      box-shadow: 0 2px 5px rgba(#000, .1);
      &::before{
        display: block;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  .bf-insert-col-before,
  .bf-insert-col-after{
    bottom: -25px;
    padding-top: 5px;
    &::before{
      left: 6px;
      top: -1px;
      border-bottom-color: currentColor;
    }
  }

  .bf-insert-row-before,
  .bf-insert-row-after{
    right: -25px;
    padding-left: 5px;
    &::before{
      top: 6px;
      left: -1px;
      border-right-color: currentColor;
    }
  }

  .bf-insert-row-before{
    top: -10px;
  }
  .bf-insert-row-after{
    bottom: -10px;
  }
  .bf-insert-col-before{
    left: -10px;
  }
  .bf-insert-col-after{
    right: -10px;
  }

  .bf-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    tbody{
      .bf-table-cell{  
        border: 1px solid #d1d5d9;
        padding: 10px 15px;
        overflow: visible;
        cursor: text;
        &[data-active="true"]{
          position: relative;
          &::before{
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            border: 2px solid #07a9fe;
            content: '';
          }
        }
      }
    }
  }

}